/*@import "tailwindcss";*/
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 15vw));
    grid-gap: 1rem;
}
.carCard{
    padding: 10px;
    border: 1px solid coral;
}

.carCard:hover{
    box-shadow: 10px 10px 5px 0px rgba(255,127,80,100.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(255,127,80,100.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(255,127,80,100.75);
}