.navLi {
    list-style: none;
    margin-right: 2rem;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
    display: inline-block;
}

a:hover {
    transform: scale(1.2);
    color: #0B63F6;
}

ul {
    display: flex;
}